 
 
 
 
 
 
 
 
 
 
 
 
 
 
 body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
    font-size: 2em;
    

} 
.calculator{
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 400px;
}

#display {
    width: 100%;
    height: 50px;
    margin-bottom: 13px;
    font-size: 20px;
    text-align: right;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

button{
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: aqua;
}


@keyframes bubblesBackgroundAnimation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}